{% load static %}
    <!-- Mainmenu Area Start -->
      <section class="gauto-mainmenu-area">
         <div class="container">
            <div class="row">
               <div class="col-lg-9">
                  <div class="mainmenu">
                     <nav>
                        <ul id="gauto_navigation">
                           <li class="active"><a href="/">home</a></li>
                           <li><a href="{% url 'mainapp:car_booking' %}">Book Shuttle</a></li>
                           <li>
                             <a href="{% url 'mainapp:about_us' %}">About Us</a>
                           </li>
                           <li>
                              <a href="{% url 'mainapp:contact_us' %}">Contact Us</a>
                             
                           </li>
                          
                         
                        </ul>
                     </nav>
                  </div>
               </div>
             
            </div>
         </div>
      </section>
      <!-- Mainmenu Area End -->
       
       